.user {
    padding: 1rem 0.25rem;
    border-bottom: thin solid #f0f7ff;
    cursor: pointer;
    transition: all 0.6s;
}

.user:hover {
    border-radius: 4px;
    background-color: rgb(227, 232, 255);
}
