.user-details {
    flex: 5 !important;

    padding: 0.5rem 1rem !important;
}

.user-details h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.user-details .username {
    color: #00bf00;
    background: #f2ffe7;
    padding: 0.25rem;
    border-radius: 4px;
    border: thin solid;
}